body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    padding:40px;
}

.container{
    width:700px;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.1);
}

h1{
    text-align:center;
}

input,
textarea{
    width:100%;
    padding:10px;
    margin-top:10px;
}

textarea{
    height:120px;
}

button{
    width:100%;
    padding:12px;
    background:#007bff;
    color:white;
    border:none;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#0056b3;
}

#result{
    margin-top:20px;
}